<!--<ion-side-menus>-->
<!--<ion-side-menu-content>-->
<!--<ion-nav-bar class="bar-dark nav-title-slide-ios7 bar">-->
<!--<ion-nav-buttons side="left">-->
<!--<button id="menuToggleLeftButton" menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<!--</ion-nav-buttons>-->
<!--<ion-nav-buttons side="right">-->

<!--</ion-nav-buttons>-->
<!--&lt;!&ndash;<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>&ndash;&gt;-->
<!--</ion-nav-bar>-->
<!--<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>-->
<!--</ion-side-menu-content>-->

<!--<ion-side-menu side="left">-->
<!--<header class="bar bar-header bar-dark">-->
<!--<img src="img/logo-small.png"/>-->
<!--</header>-->
<!--<ion-content class="has-header">-->
<!--<ion-list>-->
<!--<ion-item id="logoutButton" class="icon-logout">-->
<!--prova-->
<!--</ion-item>-->
<!--</ion-list>-->
<!--</ion-content>-->

<!--<ion-footer-bar class="col-center row-center">-->
<!--Made with &nbsp; <i style="color: #ff0000" class="ion-heart"></i>&nbsp; by Mattomatt-->
<!--</ion-footer-bar>-->
<!--</ion-side-menu>-->
<!--</ion-side-menus>-->


<ion-nav-bar class="bar-assertive">
    <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="mainArea" animation="slide-left-right"></ion-nav-view>
<ion-footer-bar align-title="left" class="bar-assertive">
    <h1 class="title">
        Made with &nbsp; <i style="color: #5c0012" class="ion-heart"></i>&nbsp; by Mattomatt
    </h1>

</ion-footer-bar>
