<ion-view title="Matteo Tassetti - Curriculum Vitae">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-body">
                <p>Do you need to practice <strong>Ionic Framework</strong> and to write down an uptodated and <strong>modern
                    cv</strong>?</p>
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-social-github"></i>
                Fork me on github!
            </a>
        </div>

        <div class="list card">
            <div class="item item-divider">
                <!--<i class="icon ion-clipboard"></i>-->
                Personal details
            </div>
            <a class="item item-avatar-left" ui-sref="app.fotoFull">
                <img src="img/tessera.jpg"/>

                <h2>Matteo Tassetti</h2>

                <p>Passionate Developer, Team Leader, Software Engineer</p>
            </a>

            <div class="item item-icon-left">
                <i class="icon ion-disc"></i>

                <h2>Job Applied for:</h2>

                <p>Team Leader / Consultant</p>
            </div>
            <a class="item item-icon-left" ui-sref="app.map">
                <i class="icon ion-location"></i>

                <h2>Italy, Argelato (Bologna)</h2>

                <p>Via centese 180</p>
            </a>
            <a class="item item-icon-left" ng-click="callMe()">
                <i class="icon ion-ios7-telephone"></i>

                <h2>{{phoneNumber}}</h2>
            </a>
            <a class="item item-icon-left" ng-click="emailMe()">
                <i class="icon ion-email"></i>

                <h2>{{emailAddress}}</h2>
            </a>

            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                6 July 1979
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Work Experience
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                May 2011 - Present
            </div>
            <div class="item">
                <p>JOB TITLE</p>

                <h2>Software Department Manager</h2>
            </div>
            <a class="item" href="http://www.anastasis.it">
                <p>COMPANY</p>

                <h2>Anastasis </h2>
            </a>

            <div class="item item-body">

                <h2>
                    I'm in charge of <strong>managing the software development</strong> in Anastasis. I have a group of
                    10 internal people and several suppliers. We develop software Web and client for various platforms,
                    including mobile.
                </h2>

                <h2>
                    I promoted and lead <strong>changes in organization and tecnologies</strong>, from "Waterfall PM"
                    and property framework to "Agile" metodologies and open source.
                    In particular now we are developing with Grails, Angularjs, Ionic/Cordova and other popular modern
                    open source frameworks.
                </h2>

                <h2>
                    The main projects I currently lead are: RIDInet (<a
                        href="http://info.ridinet.it">info.ridinet.it</a>),
                    a learning disability rehabilitation platform and ePico!(<a href="http://www.epicosw.it">www.epicosw.it</a>)
                    a set of tools for students.
                </h2>
            </div>
        </div>
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                July 2009 - April 2011
            </div>
            <div class="item">
                <p>JOB TITLE</p>

                <h2>Project Manager</h2>
            </div>
            <a class="item" href="http://www.anastasis.it">
                <p>COMPANY</p>

                <h2>Anastasis </h2>
            </a>

            <div class="item item-body">
                <h2>
                    Besides of developing I had the responsability of coordinating teams working on projects, suppliers
                    and university relationship.
                </h2>

                <h2>
                    The main project I led is AD-DA (<a href="http://adda.giuntios.it">adda.giuntios.it</a>), a web
                    application for dislexia diagnosis.
                </h2>
            </div>
        </div>
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                July 2006 - Present
            </div>
            <div class="item">
                <p>JOB TITLE</p>

                <h2>Software Developer</h2>
            </div>
            <a class="item" href="http://www.anastasis.it">
                <p>COMPANY</p>

                <h2>Anastasis </h2>
            </a>

            <div class="item item-body">
                <h2>
                    <strong>Web application developer</strong> in the field of learning disabilities diagnosis and
                    rehabilitation.
                </h2>

                <h2>
                    In the first years of this experience We developed a <strong>proprietary framework</strong>. Server
                    side Java Stack+mysql, client side: xhtml, js, css and,
                    in some projects, Flex. It was a very interesting experience, usefull to approach lots of
                    architetural problems.
                </h2>

                <h2>
                    In the last years we move to more standard technologies
                </h2>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Education and Training
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                October 1998 - July 2006
            </div>
            <div class="item">
                <p>TITLE</p>

                <h2>Computer Science Engineer</h2>
            </div>
            <div class="item">
                <p>UNIVERSITY</p>

                <h2>
                    Alma Mater Studiorum
                </h2>

                <h2>
                    Università di Bologna (Italy)
                </h2>
            </div>
            <div class="item-body">
                <div>Master's Degree (5 years)</div>
                <div>Erasmus in Spain (10 months)</div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                September 1993 - July 1998
            </div>
            <div class="item">
                <p>HIGH SCHOOL</p>

                <h2>
                    Liceo Scientifico Leonardo Da Vinci
                </h2>

                <h2>
                    Civitanova Marche (Italy)
                </h2>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                i18n
            </div>
            <div class="item item-avatar-left">
                <img src="img/ban_italia.gif"/>

                <div class="skillbar">
                    <div class="skillbar-bar skillbar-bar-100"></div>
                    <div class="skill-bar-percent ">100%</div>
                </div>
            </div>
            <div class="item item-avatar-left">
                <img src="img/ban_ing.gif"/>

                <div class="skillbar">
                    <div class="skillbar-bar skillbar-bar-80"></div>
                    <div class="skill-bar-percent ">80%</div>
                </div>
            </div>
            <div class="item item-avatar-left">
                <img src="img/ban_spagna.gif"/>

                <div class="skillbar">
                    <div class="skillbar-bar skillbar-bar-70"></div>
                    <div class="skill-bar-percent ">70%</div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                Other personal skills
            </div>
            <div class="item">
                <h2>Communication Skills</h2>
            </div>
            <div class="item item-body">
                <p>Good communication skills gained coordinating internal and external resources.</p>
                <p>Able to manage the team in order to emerge best outcomes from each member.</p>
            </div>
            <div class="item">
                <h2>Organisational / managerial skills</h2>
            </div>
            <div class="item item-body">
                <p>Leadership (currently coordinating a team of 10 people).</p>
                <p>I'm used to manage project budgets and goals. I report to management.</p>
                <p>I'm interested in improving my skills and the skills of people working with me.</p>
            </div>
            <div class="item">
                <h2>Job-related skills</h2>
            </div>
            <div class="item item-body">
                <p>I'm very experienced in educational and health domain, in particular on Dyslexia and special needs related contexts. I'm experienced in digital publishing as well.</p>
                <p>I like to work in agile contexts (Scrum preferred).</p>
                <p>I develop beyond that manage projects, because I'm interested in investigating new tecnologies to improve the team abilities.</p>
                <p>Among others, I feel at ease at myself with this technologies/techniques:</p>
                <p>Java, Groovy, Grails, Gorm, mysql, junit, Html, css, Jquery, Angularjs, Ionic, Cordova/Phonegap, karma, REST API implementation...</p>
                <p>...and with these tools:</p>
                <p>Jira, Eclipse, intelliJ, Webstorm, git, cvs, bower, npm, UML...</p>
                <p>I'm currently studying nodejs, mongodb, mongoose and firebase as backend technologies.</p>
                <p>I've basic knowledge about sever administration, mostly oriented in web application deployment (Apache, Virtual Hosts, Tomcat...).</p>

            </div>

        </div>
    </ion-content>
</ion-view>