<ion-view title="{{cv.name}} {{cv.surname}} - Curriculum Vitae">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-body">
                <p>Do you need to practice <strong>Ionic Framework</strong> and to write down an uptodated and <strong>modern
                    cv</strong>?</p>
            </div>
            <a class="item item-icon-left assertive" href="https://github.com/mattomatt/cv">
                <i class="icon ion-social-github"></i>
                Fork me on github!
            </a>
        </div>
        <div class="list card">
            <div class="item item-divider">
                <!--<i class="icon ion-clipboard"></i>-->
                Personal details
            </div>
            <a class="item item-avatar-left" ui-sref="app.fotoFull">
                <img src="img/photo.jpg"/>
                <h2>{{cv.name}} {{cv.surname}}</h2>
                <p><span ng-repeat="header in cv.headers">{{header}}<span ng-hide="cv.headers[cv.headers.length-1]==header">, </span></span></p>
            </a>
            <div class="item item-icon-left">
                <i class="icon ion-disc"></i>
                <h2>Job Applied for:</h2>
                <p>{{cv.desiredJobTitle}}</p>
            </div>
            <a class="item item-icon-left" href="https://it.linkedin.com/in/{{cv.linkedInProfile}}">
                <i class="icon ion-social-linkedin"></i>
                <h2>it.linkedin.com/in/{{cv.linkedIn}}</h2>
            </a>
            <a class="item item-icon-left" ui-sref="app.map">
                <i class="icon ion-location"></i>
                <h2>{{cv.address.country}}, {{cv.address.city}} ({{cv.address.district}})</h2>
                <p>{{cv.address.street}} {{cv.address.number}}</p>
            </a>
            <a class="item item-icon-left" ng-click="callMe()">
                <i class="icon ion-ios7-telephone"></i>
                <h2>{{cv.phoneNumber}}</h2>
            </a>
            <a class="item item-icon-left" ng-click="emailMe()">
                <i class="icon ion-email"></i>
                <h2>{{cv.emailAddress}}</h2>
            </a>
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                {{cv.birthday | date:'dd MMM yyyy'}}
            </div>
        </div>
        <div class="item item-divider">
            Work Experience
        </div>
        <div class="list card" ng-repeat="experience in cv.workExperiences">
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                {{experience.start}} - {{experience.end}}
            </div>
            <div class="item">
                <p>JOB TITLE</p>
                <h2>{{experience.jobTitle}}</h2>
            </div>
            <a class="item" href="http://www.anastasis.it">
                <p>COMPANY</p>
                <h2>{{experience.company}} </h2>
            </a>
            <div class="item item-body" ng-bind-html="experience.jobDescription">
            </div>
        </div>
        <div class="item item-divider">
            Education and Training
        </div>
        <div class="list card" ng-repeat="eduItem in cv.education">
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                {{eduItem.start}} - {{eduItem.end}}
            </div>
            <div class="item">
                <p>TITLE</p>
                <h2>{{eduItem.title}}</h2>
            </div>
            <div class="item">
                <p>UNIVERSITY</p>
                <h2>
                    {{eduItem.institute}}
                </h2>
            </div>
            <div class="item-body" ng-bind-html="eduItem.description" ng-show="eduItem.description">
            </div>
        </div>

        <div class="item item-divider">
            i18n
        </div>
        <div class="list card">
            <div class="item item-avatar-left" ng-repeat="language in cv.languages | orderBy:'knowledge':true" ng-show="language.knowledge>0">
                <img ng-src="img/flags/{{language.name}}.png"/>
                <div class="skillbar">
                    <div class="skillbar-bar" style="opacity:{{language.knowledge/100}}"></div>
                    <div class="skill-bar-percent ">{{language.knowledge}}%</div>
                </div>
            </div>
        </div>
        <div class="item item-divider">
            Other personal skills
        </div>
        <div id="otherPersonalSkills" class="list card">
            <div class="item">
                <h2>Communication Skills</h2>
            </div>
            <div class="item item-body" ng-bind-html="cv.communicationSkills" ng-show="cv.communicationSkills">
            </div>
            <div class="item">
                <h2>Organisational / managerial skills</h2>
            </div>
            <div class="item item-body" ng-bind-html="cv.managerialSkills" ng-show="cv.managerialSkills">
            </div>
            <div class="item">
                <h2>Job-related skills</h2>
            </div>
            <div class="item item-body" ng-bind-html="cv.jobRelatedSkills" ng-show="cv.jobRelatedSkills">
            </div>
        </div>
    </ion-content>
</ion-view>